<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKEND_BASE_URL</key>
	<string>http://192.168.1.100:8000</string>
	<key>DJISDKAppKey</key>
	<string>dd41f343bf432b0adcc41965</string>
	<key>ELEVENLABS_API_KEY</key>
	<string>a565fc97fe1f3cc5570bd0c7f822d9882b10588e1a9016386079984967aa2ad4</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.dji.video</string>
		<string>com.dji.protocol</string>
		<string>com.dji.common</string>
	</array>
</dict>
</plist>
