<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs speech recognition to detect when you say &apos;Ok/Hey Nimbus&apos; to launch drone control commands.</string>
	<key>DJISDKAppKey</key>
	<string>$(DJISDKAppKey)</string>
	<key>ELEVENLABS_API_KEY</key>
	<string>$(ELEVENLABS_API_KEY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.dji.video</string>
		<string>com.dji.protocol</string>
		<string>com.dji.common</string>
	</array>
</dict>
</plist>
